.main-header-bg {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup.html);
}
.main-header-bg1 {
  background-image: url(../img/backgrounds/doctor.html);
}
.main-header-dark-bg {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup-dark.html);
}
.header-banner-bg1 {
  background-image: url(../img/backgrounds/01-Travel-and-Clothes-Mockup.html);
}
.header-banner-bg2 {
  background-image: url(../img/backgrounds/building.html);
}
.header-banner-bg3 {
  background-image: url(../img/backgrounds/15-etiquette-rules-for-dining-at-fancy-restaurants.html);
}
.header-banner-bg4 {
  background-image: url(../img/backgrounds/restutant.html);
}
.header-banner-bg5 {
  background-image: url(../img/slider-images/slider_image_5.html);
}
.header-banner-bg6 {
  background-image: url(../img/slider-images/slider_image_3.html);
}
.header-banner-bg7 {
  background-image: url(../img/slider-images/slider_image_4.html);
}
.title-bar-bg1 {
  background-image: url(../img/backgrounds/bg2.jpg);
}
.title-bar-bg2 {
  background-image: url(../img/backgrounds/bg3.jpg);
}
.title-bar-bg3 {
  background-image: url(../img/backgrounds/bg4.jpg);
}
.resturant-bg1 {
  background-image: url(../img/backgrounds/grill.html);
}
.custom-bg1 {
  background-image: url(../img/shop/cappelli.html);
}
.custom-bg2 {
  background-image: url(../img/shop/passagrilli_sciarpe.html);
}
.custom-bg3 {
  background-image: url(../img/shop/Top1.html);
}
.custom-bg4 {
  background-image: url(../img/shop/Top2.html);
}
.custom-bg5 {
  background-image: url(../img/shop/Top3.html);
}
.custom-bg6 {
  background-image: url(../img/shop/Top4.html);
}
.custom-bg7 {
  background-image: url(../img/backgrounds/laptop-pro-4.html);
}
.custom-bg8 {
  background-image: url(../img/backgrounds/imac.html);
}
.custom-bg9 {
  background-image: url(../img/backgrounds/DESKTOP-1280-800-3.html);
}
.custom-bg10 {
  background-image: url(../img/backgrounds/plane.html);
}
.custom-bg11 {
  background-image: url(../img/backgrounds/travel2.html);
}
.custom-bg12 {
  background-image: url(../img/backgrounds/bg_restaurant.html);
}
.custom-bg13 {
  background-image: url(../img/backgrounds/law1.html);
}
.custom-bg14 {
  background-image: url(../img/backgrounds/Male-lawyer-examine-civilianreduced.html);
}
.custom-bg15 {
  background-image: url(../img/backgrounds/stopwatch.png);
}
.custom-bg16 {
  background-image: url(../img/backgrounds/Wedding-Couple.html);
}
.custom-bg17 {
  background-image: url(../img/backgrounds/Langkawi-Weddings1.html);
}
.custom-bg18 {
  background-image: url(../img/backgrounds/photodune-1576014-wedding-couple-l.html);
}
.custom-bg19 {
  background-image: url(../img/backgrounds/WomensConference_026.html);
}
.custom-bg20 {
  background-image: url(../img/backgrounds/bigstockphoto_Young_Man_Listening_To_Music_556416.html);
}
.custom-bg21 {
  background-image: url(../img/backgrounds/place.html);
}
.custom-bg22 {
  background-image: url(../img/backgrounds/iphone.html);
}
.custom-bg23 {
  background-image: url(../img/backgrounds/iphone1.html);
}
.custom-bg24 {
  background-image: url(../img/backgrounds/o-WORKOUT-WITH-MUSIC-facebook.html);
}
.custom-bg25 {
  background-image: url(../img/backgrounds/Sweet-Katarina-Cas-Face-Closeup-Listening-Music.html);
}
.custom-bg26 {
  background-image: url(../img/backgrounds/custom-bg.html);
}
.fullscreen-bg1 {
  background-image: url(../img/backgrounds/house1.html);
}
.fullscreen-bg2 {
  background-image: url(../img/backgrounds/homepages.html);
}
.fullscreen-bg3 {
  background-image: url(../img/backgrounds/homepages1.html);
}
.pattern-bg1 {
  background-image: url(../img/backgrounds/pattern1-dark.html);
}
.pattern-bg2 {
  background-image: url(../img/backgrounds/pattern1.jpg);
}
.hair-bg1 {
  background-image: url(../img/backgrounds/black-color-natural-hair-styles-natural-oil-massage-for-hair-styling-3.html);
}
.hair-bg2 {
  background-image: url(../img/backgrounds/curly-hair-style-bg.html);
}
.hair-bg3 {
  background-image: url(../img/backgrounds/how-to-make-curly-hair-wavy-hair-salon-como.html);
}
.hair-bg4 {
  background-image: url(../img/backgrounds/Best-Hair-Style.html);
}
.hair-bg5 {
  background-image: url(../img/backgrounds/love-the-one-youre-with-hair-salon-wallsend.html);
}
.hair-bg6 {
  background-image: url(../img/backgrounds/women-hair-styles-hairstyle-index-500785.html);
}
