<!DOCTYPE html>

<head>
    <meta name="google-site-verification" content="LXo_Zjs-WQtt-CzUZnDMUzkQZTG6munDQwgmly5Z_go" />
        <meta charset="utf-8" lang="=en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jannat Textile - Manufacturers & Exporters all Kind of Madeups</title>
        <meta name="description" content="Jannat Textile is one of the leading textile manufacturing groups in Pakistan with offices in the United States that can assist our customers in North and South America as well as Europe. We are a fully vertically integrated group with operations in all sectors of the textile industry from Spinning to Stitching.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#222222"> <!-- Android 5.0 Tab Color -->
        <link rel="shortcut icon" href="static/img/favicon.ico">

        <!-- Google Fonts -->
        <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>-->
        <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>-->

        <!-- Icon Fonts CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/knight-iconfont.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/static/css/font-awesome.min.css"> -->

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/reset.css">

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="static/css/jquery.fs.shifter.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
        <link rel="stylesheet" href="static/css/owl.carousel.css">
        <link rel="stylesheet" href="static/css/video-js.min.css">
        <link rel="stylesheet" href="static/css/settings.css">
        <link rel="stylesheet" href="static/css/animate.css">

        <!-- Template CSS -->
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/shortcodes.css">
        <link rel="stylesheet" href="static/css/custom-bg.css">

        <!-- JS -->
        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="shifter shifter-left offcanvas-menu-left offcanvas-menu-dark mobile-header-style2 sticky-header  sticky-dark">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- mobile-header-wrapper -->
        <div class="mobile-header-wrapper style2 shifter-header dark-bg clearfix hidden-md hidden-lg">
            <div class="shifter-handle style1">
                <a href="#" class="bars">
                    <span></span>
                    <span></span>
                    <span></span>
                </a><!-- /bars -->
            </div><!-- /menu-trigger -->
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="static/img/logo/logo4-white.png" alt=" Logo">
                </a>
            </div><!-- /logo-container -->
           
            
        </div>
        <!-- /mobile-header-wrapper -->

        <!-- OFF CANVAS MOBILE MENU -->
        <nav class="main-nav offcanvas-menu mobile-nav shifter-navigation fullwidth-items dark-bg">
           
        </nav>

        <div class="main-wrapper shifter-page">

            <!-- Start main-header -->
            <header class="main-header style2 overlay-header">
                <div class="main-header-inner">
                    <div class="top-bar style1 foggy-white-bg">
                        <div class="container clearfix">
                           <div class="left-sec clearfix">
                                <ul class="contact-info clearfix">
                                    <li>
                                        <i class="icon icon-knight-284"></i><span><a href="tel:+92-342-3240025">+92-342-3240025</a> </span>
                                    </li>
                                    <li>
                                        <i class="icon icon-knight-284"></i><span><a href="tel:+92-301-6056319">+92-301-6056319</a> </span>
                                    </li>
                                    <li>
                                        <i class="icon icon-knight-365"></i><span><a href="mailto:info.jannattextile@gmail.com">info.jannattextile@gmail.com</a></span>
                                    </li>
                                </ul>
                            </div><!-- /contact-info -->
                            <div class="right-sec clearfix">
                                <ul class="socials style1 clearfix">
                                    <li><a href="https://wa.me/message/UW3HYMONLS6BA1"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="https://twitter.com/JannatTextile"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/jannattextileofficial"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                             </ul>
                            </div>
                        </div><!-- /info -->
            </div><!-- /top-bar -->
            <div class="main-bar padding-15 dark-bg">
                <div class="container">
                    <div class="logo-container">
                        <a href="/" class="logo">
                            <img src="static/img/logo/logo4-white.png" alt="">
                        </a>
                    </div><!-- /logo-container -->
                    <div class="menu-container clearfix">
                          <nav class="main-nav active-style1 style1" id="main-nav">
                            <ul class="clearfix">
                               <li class="dropdown mega-menu full-width active">
                                    <a class="dropdown-toggle" data-toggle="1dropdown" href="/">Home</a>

                                </li>


                                <li class="mega-menu multi-column">
                                    <a href="profile">Profile</a>

                                </li>

                                <li class="mega-menu">
                                    <a href="products">Products</a>


                                </li>

                                 <li class="mega-menu multi-column">
                                    <a href="manufacturing">Manufacturing</a>

                                </li>
                                <li class="mega-menu multi-column">
                                    <a href="quality-assurance">Quality Assurance</a>

                                </li>
                                 <li class="mega-menu multi-column">
                                    <a href="contactus">Contact Us</a>

                                </li>

                            </ul>

                        </nav>
                    </div><!-- /menu-container -->
                </div><!-- /container -->
            </div><!-- /main-bar -->
        </div><!-- /main-header-inner -->
    </header>


             <!-- Start main-contents -->
    <section class="main-contents pattern-bg2 padding-top190">
    <div class="container">
        <div class="row">
            <div class="post-container medium-post-thumb col-md-12">
                <article class="post format-standard wow fadeInDown">
                    <div class="row">

                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#">Stitching</a></h1>
                            <div class="entry-content">
                                <p>Our stitching unit consists of 300 machines including single needle as well as double needle. We handle all kind of modern sewing styles in house. Our quilting unit comprises of single needle and multi needle machines.</p>
                            </div><!-- /entry-content -->

                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/stitiching.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
                <article class="post format-standard wow fadeInDown">
                    <div class="row">

                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#">Packing</a></h1>
                            <div class="entry-content">
                                <p>uality is to be maintained tat the extended limits of quality. A strict checking it to be maintained at every stage to pack the same quality products from very beginning.</p>
                            </div><!-- /entry-content -->

                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/packing.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
                <article class="post format-standard wow fadeInDown">
                    <div class="row">
                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#"> SampleRooms</a></h1>
                            <div class="entry-content">
                                <p>
                                    Our sampling department is being handled by the most experienced and qualified staff, who are fully capable to display their professional expertise. Our sampling staff is well trained to respond energetically to fast changing fashion.  </p>
                        </div><!-- /entry-content -->
                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/sampleroom.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
                <article class="post format-standard wow fadeInDown">
                    <div class="row">

                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#">Design studio</a></h1>
                            <div class="entry-content">
                                <p>

                                    Our sampling department is being handled by the most experienced and qualified staff, who are fully capable to display their professional expertise. Our sampling staff is well trained to respond energetically to fast changing fashion. </p>
                            </div><!-- /entry-content -->

                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/design.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
                <article class="post format-standard wow fadeInDown">
                    <div class="row">

                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#">Laboratory</a></h1>
                            <div class="entry-content">
                                <p>Every aspect of Quality Assurance is considered here in Jannat Textile. A fully Equipped Lab is always ensuring everyday Quality Standards, along with this the company is also Certified wit ISO Quality Certification Systems. Fabric is to be tested at every stage of Production, i.e. Weaving, Processing or Printing. We believe in best quality up to the satisfaction level of our Quality Conscious Customer.</p>
                            </div><!-- /entry-content -->

                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/lab.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
                <article class="post format-standard wow fadeInDown">
                    <div class="row">

                        <div class="col-md-9">
                            <h1 class="entry-title"><a href="#">Weaving</a></h1>
                            <div class="entry-content">
                                <p>We are doing business with ISO certified weaving sector with over 300 looms  (Sulzer 76, Autoloom 115, Powerlooms 109)  Daily Production Capacity about 25000-28,000 mtrs daily. The combination of Sulzer Shuttle less Looms, Auto Looms and Power Looms on which we can construct qualities & widths according to customer requirements. In order to deliver the best quality we consume A-grade yarn to weave the fabric.</p>
                            </div><!-- /entry-content -->

                        </div><!-- /col-md-8 -->
                         <div class="col-md-3">
                            <figure class="entry-image">
                                <img src="static/img/team/weaving.png" alt="Jannat Textile">
                            </figure>
                        </div><!-- /col-md-4 -->
                    </div><!-- /row -->
                </article>
             </div><!-- /post-container -->
         </div><!-- /row -->
    </div><!-- /container -->

    </section>
<!-- End main-contents -->

            
          <!-- Start main-footer -->
          <footer class="main-footer padding-top45 dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-about margin-bottom30">
                            <a class="logo padding-bottom20" href="index-2.html"><img src="static/img/logo/logo2-transparent.png" alt="Logo"></a>
                            <p><strong>Jannat Textile</strong> is one of the leading textile manufacturing groups in Pakistan. </p>
                            <p>We are a fully vertically integrated group with operations in all sectors of the textile industry from Spinning to Stitching.</p>
                        </div><!-- /widget-about -->
                    </div><!-- /col-md-4 -->
                    <div class="col-md-4">
                        <div class="widget widget-about margin-bottom30">
                            <h6 class="widget-title heading-alt-style8 short-underline">Contact Info</h6>
                                    <address><p class="clearfix"><strong>Head Office / Stitching Unit</strong></p>
                                        <p>
                                           03 km Sheikhupura Road Khurianwala, Faisalabad-Pakistan.</p>
                                        <p>Phone: <a href="tel:+92-342-3240025">+92-342-3240025</a>
                                        <br>Phone: <a href="tel:+92-301-6056319">+92-301-6056319</a>
                                        <br>Email: <a href="mailto:info.jannattextile@gmail.com">info.jannattextile@gmail.com</a>
                                        </p>
                                    </address>
                            
                            </div><!-- /widget-about -->
                    </div><!-- /col-md-4 -->
                   
                    <div class="col-md-4">
                        <div class="widget widget-contact-form widget-contact-form-style2 ">
                            <h6 class="widget-title heading-alt-style8 short-underline">Inquiry</h6>
                            <form action="" class="contact-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="contact-form-name" name="name" id="name" placeholder="Name" required>
                                        <i class="icon-knight-270"></i>
                                    </div>
                                     <div class="col-md-12">
                                        <input type="email" class="contact-form-email" name="email" id="email" placeholder="Email" required>
                                        <i class="icon-knight-365"></i>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="contact-form-message" name="message" cols="90" rows="4" placeholder="Content" required></textarea>
                                    </div>
                                    <input type="submit" class="form-submit" name="form-submit" value="Send Message">
                                </div><!-- /row -->
                            </form>
                            <div class="contact-form-message"></div>
                        </div><!-- /widget-contact-form -->
                    </div><!-- /col-md-4 -->
                </div><!-- /row -->
            </div><!-- /container -->
            <div class="footer-bottom-bar margin-top30 clearfix">
                <div class="container">
                    <div class="widget widget-socials widget-socials-style1">
                        <ul class="clearfix">
                            <li><a href="https://www.facebook.com/leopardtechnologies"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/leopardtechnologies/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/leptechnologies"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/leopardtechnologies"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://wa.me/message/32VO6VIKN5PNB1"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://t.me/leopardstechnologies"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCGe83Px6WIA_sQJEjd3Dm2Q"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!-- /widget-socials -->
                    <p class="copyright uppercase">Designed by: <a href="http://www.leopardtech.tk/"> Leopard Technologies</a></p>
                </div><!-- /container -->
            </div><!-- /footer-bottom-bar -->
        </footer>
        <!-- End main-footer -->


    </div><!-- /main-wrapper -->
    <!-- JS -->
    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/js/jquery.themepunch.revolution.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/jquery.fs.shifter.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/jquery.countTo.js"></script>
    <script src="static/js/jquery.appear.js"></script>
    
    <script src="static/js/tweetie.min.js"></script>
    <script src="static/js/jquery.nav.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/video.js"></script>
    <script src="static/js/main.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
               jQuery('.tp-banner').revolution(
                {
                    delay:9000,
                    startwidth:1170,
                    startheight:500,
                    fullScreen: 'on',
                    navigationType: 'none',
                    navigationArrows: 'solo',
                    navigationStyle: 'knight',
                    hideTimerBar: 'on',
                    soloArrowRightVOffset: 80,
                    soloArrowLeftVOffset: 80
                });
        });
    </script>
    
</body>


</html>
